<footer>
    <div class=footer-links>
        <a href="https://github.com/goldencm" target="_blank" class="footer-logo">
        <img src="assets/GitHub-Mark-32px.png" width="32" height="32">
        </a>
        <a href="https://www.linkedin.com/in/conor-golden-467620209/" target="_blank" class="footer-logo">
            <img src="assets/LI-In-Bug.png" width="32" height="32" >
        </a>
        <a href="mailto:conorgolden1@hotmail.com" class="footer-logo">
            <img src="assets/email.png" width="32" height="32">
        </a>
        <a href="https://www.facebook.com/conor.golden.35" target="_blank" class="footer-logo">
            <img src="assets/Fb-Mark-32px.png" width="32" height="32">
        </a>
        
    </div>
    
</footer>
