iframe {
    width: 800px;
    height: 1025px;
}

.pdf-container {
    display: flex;
    justify-content: center;
}

.title {
    justify-content: center;
    display: flex;
}

h3 {
    margin-right: 5px;
}