/* You can add global styles to this file, and also import other style files */
body {
    background-color: #19024e; 
    margin-left: 0; 
    margin-top: 10px; 
    background-image: url(assets/back-hex.png); 
    background-attachment: fixed;
    background-size: 100% 100%; 
}

h1 {
    font-family: 'Courier New', Courier, monospace;
      
}

h1, h2, h3, h4, h5, h6, p, title {
    color: hsl(288, 49%, 54%);
}